<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  &nbsp;&nbsp;
  <a routerLink="" class="navbar-brand">Home</a>&nbsp;
  <a routerLink="show-company" class="navbar-brand">Show Companies</a>&nbsp;
  <!-- <a routerLink="add-company" class="navbar-brand">Add Company</a>&nbsp; -->
  <a routerLink="service-type" class="navbar-brand">Service Type</a>&nbsp;
  <a routerLink="vset" class="navbar-brand">Vulnerability Set</a>&nbsp;
  <a routerLink="userlist" class="navbar-brand">Users</a>&nbsp;
  <!-- <a routerLink="login" class="navbar-brand">Login</a>&nbsp; -->
  <!-- <a routerLink="vfound" class="navbar-brand">Add Vulnerabilty</a>&nbsp;
  <a routerLink="show-vfound" class="navbar-brand">View Vulnerabilities</a> -->
  <a routerLink="testlist" class="navbar-brand">Test List</a>
  <!-- <button class="testlist" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
<button class="btn btn-primary" (click)="logout()"> <a routerLink="" class="navbar-brand">Logout</a>&nbsp;</button>

  
</nav>
<router-outlet></router-outlet>